input[type="search"] {
  -webkit-appearance: none;
}

#leetComp {
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 1000px;
  font-size: x-small;
}

#headBanner {
  background-color: #D9ECF7;
  color: #30718F;
}

#postInfo {
  font-size: small;
  border: 1px solid #ddd;
}

#postInfo thead {
  background-color: #D9ECF7;
  color: #505050;
  font-size: smaller;
}

#postInfo tbody {
  border-top: 2px solid #aaa;
}

.btn-danger {
  font-size: xx-small;
  color: #fff;
  background-color: #dc3545;
  border-radius: 35px;
  border: 1px solid rgba(220, 53, 69, 0.75);
  padding-left: 10;
  padding-right: 10;
}

.btn {
  font-size: x-small;
}

#salaryBar.bar {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}

.page-link .btn {
  cursor: pointer;
}

#salaryBarChart {
  padding: -1;
}

#search,
#minYoe,
#maxYoe {
  border: 1px solid gray;
}

#stats {
  text-align: center;
}

#nRows {
  font-size: small;
  padding-top: 5px;
}

#search {
  width: 150px;
}

#minYoe,
#maxYoe {
  width: 50px;
}

#mostOffers,
#mostOffers30 {
  font-size: x-small;
}

#mostOffersTitle,
#mostOffers30Title {
  font-size: x-small;
  margin-top: 10;
  margin-bottom: -10;
  text-align: center;
}

.sortButton {
  cursor: pointer;
}

.secondaryText {
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 5px;
}

.secondaryTheadText {
  margin-top: 5px;
  margin-bottom: 0px;
}

.primaryText {
  color: #30718F;
  font-weight: 500;
}

.postHref {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px dotted #000;
}

.pagination {
  cursor: pointer;
}