#leetComp {
  text-align: center;
  margin-top: 20px;
}

.container {
  font-size: x-small;
}

#postInfo {
  font-size: small;
}

.btn-danger {
  font-size: xx-small;
  color: #fff;
  background-color: #dc3545;
  border-radius: 35px;
  border: 1px solid rgba(220, 53, 69, 0.75);
  padding-left: 10;
  padding-right: 10;
}

.btn {
  font-size: x-small;
}

#salaryBar.bar {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}

.page-link .btn {
  cursor: pointer;
}

#salaryBarChart {
  padding: -1;
}

#search,
#minYoe,
#maxYoe {
  border: 1px solid gray;
}

#stats {
  text-align: center;
}

#nRows {
  font-size: small;
  padding-top: 5px;
}

#minYoe,
#maxYoe {
  width: 90px;
}

#mostOffers,
#mostOffers30 {
  font-size: x-small;
}

#mostOffersTitle,
#mostOffers30Title {
  font-size: x-small;
  margin-top: 10;
  margin-bottom: -10;
  text-align: center;
}

.sortButton {
  cursor: pointer;
}